@tailwind base;
@tailwind components;
@tailwind utilities;


.fc-scrollgrid ,.fc-scrollgrid-liquid{
    min-height: 50% !important;
    max-height: 50% !important;
    padding-right: 10px !important;
    width: 100%!important;
}

/* .fc-daygrid-day-number,.fc-daygrid-day-top{
    text-align: left !important;
    margin-right: 60% !important;
} */

.fc-daygrid-day-frame, .fc-scrollgrid-sync-inner{
    display: flex;
    justify-content: left;
}